MYSQL_ROOT_PASSWORD=change_me
MYSQL_USER=bankflow
MYSQL_PASSWORD=change_me
REDIS_PASSWORD=change_me
GRAFANA_PASSWORD=change_me
JWT_SECRET=replace-with-a-32-char-min-secret
SONAR_DB=sonar
SONAR_USER=sonar
SONAR_PASSWORD=change_me
KAFKA_CLUSTER_ID=replace_with_valid_kraft_cluster_id
